<div style="background-color: #fff; color: grey;" class="navbar" role="navigation" style="margin-bottom:0; border-bottom: 1px solid"></div>
    <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: grey;"></span>
                <span class="icon-bar" style="background-color: grey;"></span>
                <span class="icon-bar" style="background-color: grey;"></span>
            </button>
            <a href="/" class="navbar-brand" style="color: grey;" onmouseover="this.style.color='#000'" onmouseout="this.style.color='grey'">BUILDERS-APP</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
    
                    {% if current_user.is_authenticated %}
                    
                    <li class="dropdown"><a style="color: grey;" onmouseover="this.style.borderBottom='thick solid grey'" onmouseout="this.style.borderBottom='none'" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">{{current_user.username| capitalize}} <span class="caret"></span></a>
                    </li>
                    <li><a style="color: grey;" onmouseover="this.style.borderBottom='thick solid grey'" onmouseout="this.style.borderBottom='none'" href="{{url_for('auth.logout')}}">Sign out</a></li>
                    {% else %}
                    <li><a style="color: grey;" onmouseover="this.style.borderBottom='thick solid grey'" onmouseout="this.style.borderBottom='none'" href="{{url_for('auth.login')}}">Login</a></li>
                </ul>
                {% endif %}
            </div>
    </div>
</div>