<div style="background-color: #fff; color: #fca3b7;" class="navbar" role="navigation" style="margin-bottom:0; border-bottom: 1px solid"></div>
    <div class="container-fluid">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
    
                    {% if current_user.is_authenticated %}
                    
                    <li class="dropdown"><a style="color: #372e5f;" onmouseover="this.style.borderBottom='thick solid #372e5f'" onmouseout="this.style.borderBottom='none'" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">{{current_user.username| capitalize}} <span class="caret"></span></a>
                    </li>
                    <li><a style="color: #372e5f;" onmouseover="this.style.borderBottom='thick solid #372e5f'" onmouseout="this.style.borderBottom='none'" href="{{url_for('auth.logout')}}">Sign out</a></li>
                    {% else %}
                    <li><a style="color: #372e5f;" onmouseover="this.style.borderBottom='thick solid #372e5f'" onmouseout="this.style.borderBottom='none'" href="{{url_for('auth.login')}}">Login</a></li>
                </ul>
                {% endif %}
            </div>
    </div>
</div>