<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/index.css" type="text/css">
  <title>FUNdi</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <div class="background">
      </div>
      <h1>Find the Professionals </h1>
      </div>
      <div class="row" id="cardRow">
        <div class="col-md-3">
          <div class="architect">
            <div class="cards">
              <img src="/static/img/architect.jpeg" alt="architect image" class="image">
              <div class="middle">
                <a href="/architect">Architects</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="constructor">
            <div class="cards">
              <img src="/static/img/constructor.jpeg" alt="constructor image" class="image">
              <div class="middle">
                <a href= "/constructors" >Constructors</a>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="carpenter">
            <div class="cards">
              <img src="/static/img/engineer.jpeg" alt="engineer image" class="image">
              <div class="middle">
                <a href="/engineers">Engineers</a>   
              </div>
            </div>
          </div>
        </div>
       
        
       
      </div>

    
</body>

</html>